@model TimeableAppWeb.ViewModels.ActivateAccountAndResetPasswordViewModel
@{
    ViewData["Title"] = "ActivateAccountAndResetPassword";
}


<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
        <div class="card text-center border-dark mb-3 blue-text">
            <div class="card-body text-dark align-content-center">
                <section>
                    <h3 class="card-title">@Resources.Views.ClientHome.Account.ActivationMessage</h3>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="AccountActivationCode" type="hidden" />
                        <input asp-for="PasswordResetCode" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">@Resources.Views.Common.Save</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

